MCP/obj/Ollama-RAG-Sync.csproj.nuget.dgspec.json
MCP/obj/Ollama-RAG-Sync.csproj.nuget.g.props
MCP/obj/Ollama-RAG-Sync.csproj.nuget.g.targets
MCP/obj/project.assets.json
MCP/obj/project.nuget.cache
MCP/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
MCP/obj/Debug/net8.0/Ollama-RAG-Sync.AssemblyInfo.cs
MCP/obj/Debug/net8.0/Ollama-RAG-Sync.AssemblyInfoInputs.cache
MCP/obj/Debug/net8.0/Ollama-RAG-Sync.assets.cache
MCP/obj/Debug/net8.0/Ollama-RAG-Sync.csproj.AssemblyReference.cache
MCP/obj/Debug/net8.0/Ollama-RAG-Sync.GeneratedMSBuildEditorConfig.editorconfig
MCP/obj/Debug/net8.0/Ollama-RAG-Sync.GlobalUsings.g.cs
