MCP/Ollama-RAG-Sync/.vs/ORSMcp/CopilotIndices/17.13.441.19478/CodeChunks.db
MCP/Ollama-RAG-Sync/.vs/ORSMcp/CopilotIndices/17.13.441.19478/SemanticSymbols.db
MCP/Ollama-RAG-Sync/.vs/ORSMcp/DesignTimeBuild/.dtbcache.v2
MCP/Ollama-RAG-Sync/.vs/ORSMcp/FileContentIndex/f3061d1d-eb5d-4456-8278-e4abdeed5f9e.vsidx
MCP/Ollama-RAG-Sync/.vs/ORSMcp/copilot-chat/fdd95f60/sessions/26f62ca6-366f-40b2-9df2-a01259b9d8b6
MCP/Ollama-RAG-Sync/.vs/ORSMcp/v17/.futdcache.v2
MCP/Ollama-RAG-Sync/.vs/ORSMcp/v17/.suo
MCP/Ollama-RAG-Sync/.vs/ORSMcp/v17/DocumentLayout.backup.json
MCP/Ollama-RAG-Sync/.vs/ORSMcp/v17/DocumentLayout.json
MCP/Ollama-RAG-Sync/.vs/Ollama-RAG-Sync/v17/.suo
MCP/Ollama-RAG-Sync/.vs/Ollama-RAG-Sync/v17/DocumentLayout.backup.json
MCP/Ollama-RAG-Sync/.vs/Ollama-RAG-Sync/v17/DocumentLayout.json
MCP/Ollama-RAG-Sync/.vs/ProjectEvaluation/orsmcp.metadata.v9.bin
MCP/Ollama-RAG-Sync/.vs/ProjectEvaluation/orsmcp.projects.v9.bin
MCP/Ollama-RAG-Sync/.vs/ProjectEvaluation/orsmcp.strings.v9.bin
MCP/Ollama-RAG-Sync/Ollama-RAG-Sync/.vs/Ollama-RAG-Sync/CopilotIndices/17.13.441.19478/CodeChunks.db
MCP/Ollama-RAG-Sync/Ollama-RAG-Sync/.vs/Ollama-RAG-Sync/CopilotIndices/17.13.441.19478/SemanticSymbols.db
MCP/Ollama-RAG-Sync/Ollama-RAG-Sync/.vs/Ollama-RAG-Sync/DesignTimeBuild/.dtbcache.v2
MCP/Ollama-RAG-Sync/Ollama-RAG-Sync/.vs/Ollama-RAG-Sync/FileContentIndex/cbdf513e-1a01-46d5-b63c-bb10ce571b2b.vsidx
MCP/Ollama-RAG-Sync/Ollama-RAG-Sync/.vs/Ollama-RAG-Sync/v17/.futdcache.v2
MCP/Ollama-RAG-Sync/Ollama-RAG-Sync/.vs/Ollama-RAG-Sync/v17/.suo
MCP/Ollama-RAG-Sync/Ollama-RAG-Sync/.vs/ProjectEvaluation/ollama-rag-sync.metadata.v9.bin
MCP/Ollama-RAG-Sync/Ollama-RAG-Sync/.vs/ProjectEvaluation/ollama-rag-sync.projects.v9.bin
MCP/Ollama-RAG-Sync/Ollama-RAG-Sync/.vs/ProjectEvaluation/ollama-rag-sync.strings.v9.bin
MCP/Ollama-RAG-Sync/Ollama-RAG-Sync/obj/Ollama-RAG-Sync.csproj.nuget.dgspec.json
MCP/Ollama-RAG-Sync/Ollama-RAG-Sync/obj/Ollama-RAG-Sync.csproj.nuget.g.props
MCP/Ollama-RAG-Sync/Ollama-RAG-Sync/obj/Ollama-RAG-Sync.csproj.nuget.g.targets
MCP/Ollama-RAG-Sync/Ollama-RAG-Sync/obj/ORSMcp.csproj.nuget.dgspec.json
MCP/Ollama-RAG-Sync/Ollama-RAG-Sync/obj/ORSMcp.csproj.nuget.g.props
MCP/Ollama-RAG-Sync/Ollama-RAG-Sync/obj/ORSMcp.csproj.nuget.g.targets
MCP/Ollama-RAG-Sync/Ollama-RAG-Sync/obj/project.assets.json
MCP/Ollama-RAG-Sync/Ollama-RAG-Sync/obj/project.nuget.cache
MCP/Ollama-RAG-Sync/Ollama-RAG-Sync/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
MCP/Ollama-RAG-Sync/Ollama-RAG-Sync/obj/Debug/net8.0/apphost.exe
MCP/Ollama-RAG-Sync/Ollama-RAG-Sync/obj/Debug/net8.0/Ollama-R.DA87FDD5.Up2Date
MCP/Ollama-RAG-Sync/Ollama-RAG-Sync/obj/Debug/net8.0/Ollama-RAG-Sync.AssemblyInfo.cs
MCP/Ollama-RAG-Sync/Ollama-RAG-Sync/obj/Debug/net8.0/Ollama-RAG-Sync.AssemblyInfoInputs.cache
MCP/Ollama-RAG-Sync/Ollama-RAG-Sync/obj/Debug/net8.0/Ollama-RAG-Sync.assets.cache
MCP/Ollama-RAG-Sync/Ollama-RAG-Sync/obj/Debug/net8.0/Ollama-RAG-Sync.csproj.CoreCompileInputs.cache
MCP/Ollama-RAG-Sync/Ollama-RAG-Sync/obj/Debug/net8.0/Ollama-RAG-Sync.csproj.FileListAbsolute.txt
MCP/Ollama-RAG-Sync/Ollama-RAG-Sync/obj/Debug/net8.0/Ollama-RAG-Sync.dll
MCP/Ollama-RAG-Sync/Ollama-RAG-Sync/obj/Debug/net8.0/Ollama-RAG-Sync.GeneratedMSBuildEditorConfig.editorconfig
MCP/Ollama-RAG-Sync/Ollama-RAG-Sync/obj/Debug/net8.0/Ollama-RAG-Sync.genruntimeconfig.cache
MCP/Ollama-RAG-Sync/Ollama-RAG-Sync/obj/Debug/net8.0/Ollama-RAG-Sync.GlobalUsings.g.cs
MCP/Ollama-RAG-Sync/Ollama-RAG-Sync/obj/Debug/net8.0/Ollama-RAG-Sync.pdb
MCP/Ollama-RAG-Sync/Ollama-RAG-Sync/obj/Debug/net8.0/Ollama-RAG-Sync.sourcelink.json
MCP/Ollama-RAG-Sync/Ollama-RAG-Sync/obj/Debug/net8.0/ORSMcp.AssemblyInfo.cs
MCP/Ollama-RAG-Sync/Ollama-RAG-Sync/obj/Debug/net8.0/ORSMcp.AssemblyInfoInputs.cache
MCP/Ollama-RAG-Sync/Ollama-RAG-Sync/obj/Debug/net8.0/ORSMcp.assets.cache
MCP/Ollama-RAG-Sync/Ollama-RAG-Sync/obj/Debug/net8.0/ORSMcp.csproj.AssemblyReference.cache
MCP/Ollama-RAG-Sync/Ollama-RAG-Sync/obj/Debug/net8.0/ORSMcp.csproj.CoreCompileInputs.cache
MCP/Ollama-RAG-Sync/Ollama-RAG-Sync/obj/Debug/net8.0/ORSMcp.csproj.FileListAbsolute.txt
MCP/Ollama-RAG-Sync/Ollama-RAG-Sync/obj/Debug/net8.0/ORSMcp.csproj.Up2Date
MCP/Ollama-RAG-Sync/Ollama-RAG-Sync/obj/Debug/net8.0/ORSMcp.dll
MCP/Ollama-RAG-Sync/Ollama-RAG-Sync/obj/Debug/net8.0/ORSMcp.GeneratedMSBuildEditorConfig.editorconfig
MCP/Ollama-RAG-Sync/Ollama-RAG-Sync/obj/Debug/net8.0/ORSMcp.genruntimeconfig.cache
MCP/Ollama-RAG-Sync/Ollama-RAG-Sync/obj/Debug/net8.0/ORSMcp.GlobalUsings.g.cs
MCP/Ollama-RAG-Sync/Ollama-RAG-Sync/obj/Debug/net8.0/ORSMcp.pdb
MCP/Ollama-RAG-Sync/Ollama-RAG-Sync/obj/Debug/net8.0/ORSMcp.sourcelink.json
MCP/Ollama-RAG-Sync/Ollama-RAG-Sync/obj/Debug/net8.0/ref/Ollama-RAG-Sync.dll
MCP/Ollama-RAG-Sync/Ollama-RAG-Sync/obj/Debug/net8.0/ref/ORSMcp.dll
MCP/Ollama-RAG-Sync/Ollama-RAG-Sync/obj/Debug/net8.0/refint/Ollama-RAG-Sync.dll
MCP/Ollama-RAG-Sync/Ollama-RAG-Sync/obj/Debug/net8.0/refint/ORSMcp.dll
MCP/Ollama-RAG-Sync/Ollama-RAG-Sync/obj/Debug/net9.0/.NETCoreApp,Version=v9.0.AssemblyAttributes.cs
MCP/Ollama-RAG-Sync/Ollama-RAG-Sync/obj/Debug/net9.0/apphost.exe
MCP/Ollama-RAG-Sync/Ollama-RAG-Sync/obj/Debug/net9.0/Ollama-R.DA87FDD5.Up2Date
MCP/Ollama-RAG-Sync/Ollama-RAG-Sync/obj/Debug/net9.0/Ollama-RAG-Sync.AssemblyInfo.cs
MCP/Ollama-RAG-Sync/Ollama-RAG-Sync/obj/Debug/net9.0/Ollama-RAG-Sync.AssemblyInfoInputs.cache
MCP/Ollama-RAG-Sync/Ollama-RAG-Sync/obj/Debug/net9.0/Ollama-RAG-Sync.assets.cache
MCP/Ollama-RAG-Sync/Ollama-RAG-Sync/obj/Debug/net9.0/Ollama-RAG-Sync.csproj.AssemblyReference.cache
MCP/Ollama-RAG-Sync/Ollama-RAG-Sync/obj/Debug/net9.0/Ollama-RAG-Sync.csproj.CoreCompileInputs.cache
MCP/Ollama-RAG-Sync/Ollama-RAG-Sync/obj/Debug/net9.0/Ollama-RAG-Sync.csproj.FileListAbsolute.txt
MCP/Ollama-RAG-Sync/Ollama-RAG-Sync/obj/Debug/net9.0/Ollama-RAG-Sync.dll
MCP/Ollama-RAG-Sync/Ollama-RAG-Sync/obj/Debug/net9.0/Ollama-RAG-Sync.GeneratedMSBuildEditorConfig.editorconfig
MCP/Ollama-RAG-Sync/Ollama-RAG-Sync/obj/Debug/net9.0/Ollama-RAG-Sync.genruntimeconfig.cache
MCP/Ollama-RAG-Sync/Ollama-RAG-Sync/obj/Debug/net9.0/Ollama-RAG-Sync.GlobalUsings.g.cs
MCP/Ollama-RAG-Sync/Ollama-RAG-Sync/obj/Debug/net9.0/Ollama-RAG-Sync.pdb
MCP/Ollama-RAG-Sync/Ollama-RAG-Sync/obj/Debug/net9.0/Ollama-RAG-Sync.sourcelink.json
MCP/Ollama-RAG-Sync/Ollama-RAG-Sync/obj/Debug/net9.0/ref/Ollama-RAG-Sync.dll
MCP/Ollama-RAG-Sync/Ollama-RAG-Sync/obj/Debug/net9.0/refint/Ollama-RAG-Sync.dll
MCP/Ollama-RAG-Sync/Ollama-RAG-Sync/bin/Debug/net8.0/Microsoft.Extensions.AI.Abstractions.dll
MCP/Ollama-RAG-Sync/Ollama-RAG-Sync/bin/Debug/net8.0/Microsoft.Extensions.AI.dll
MCP/Ollama-RAG-Sync/Ollama-RAG-Sync/bin/Debug/net8.0/Microsoft.Extensions.Caching.Abstractions.dll
MCP/Ollama-RAG-Sync/Ollama-RAG-Sync/bin/Debug/net8.0/Microsoft.Extensions.Configuration.Abstractions.dll
MCP/Ollama-RAG-Sync/Ollama-RAG-Sync/bin/Debug/net8.0/Microsoft.Extensions.Configuration.Binder.dll
MCP/Ollama-RAG-Sync/Ollama-RAG-Sync/bin/Debug/net8.0/Microsoft.Extensions.Configuration.CommandLine.dll
MCP/Ollama-RAG-Sync/Ollama-RAG-Sync/bin/Debug/net8.0/Microsoft.Extensions.Configuration.dll
MCP/Ollama-RAG-Sync/Ollama-RAG-Sync/bin/Debug/net8.0/Microsoft.Extensions.Configuration.EnvironmentVariables.dll
MCP/Ollama-RAG-Sync/Ollama-RAG-Sync/bin/Debug/net8.0/Microsoft.Extensions.Configuration.FileExtensions.dll
MCP/Ollama-RAG-Sync/Ollama-RAG-Sync/bin/Debug/net8.0/Microsoft.Extensions.Configuration.Json.dll
MCP/Ollama-RAG-Sync/Ollama-RAG-Sync/bin/Debug/net8.0/Microsoft.Extensions.Configuration.UserSecrets.dll
MCP/Ollama-RAG-Sync/Ollama-RAG-Sync/bin/Debug/net8.0/Microsoft.Extensions.DependencyInjection.Abstractions.dll
MCP/Ollama-RAG-Sync/Ollama-RAG-Sync/bin/Debug/net8.0/Microsoft.Extensions.DependencyInjection.dll
MCP/Ollama-RAG-Sync/Ollama-RAG-Sync/bin/Debug/net8.0/Microsoft.Extensions.Diagnostics.Abstractions.dll
MCP/Ollama-RAG-Sync/Ollama-RAG-Sync/bin/Debug/net8.0/Microsoft.Extensions.Diagnostics.dll
MCP/Ollama-RAG-Sync/Ollama-RAG-Sync/bin/Debug/net8.0/Microsoft.Extensions.FileProviders.Abstractions.dll
MCP/Ollama-RAG-Sync/Ollama-RAG-Sync/bin/Debug/net8.0/Microsoft.Extensions.FileProviders.Physical.dll
MCP/Ollama-RAG-Sync/Ollama-RAG-Sync/bin/Debug/net8.0/Microsoft.Extensions.FileSystemGlobbing.dll
MCP/Ollama-RAG-Sync/Ollama-RAG-Sync/bin/Debug/net8.0/Microsoft.Extensions.Hosting.Abstractions.dll
MCP/Ollama-RAG-Sync/Ollama-RAG-Sync/bin/Debug/net8.0/Microsoft.Extensions.Hosting.dll
MCP/Ollama-RAG-Sync/Ollama-RAG-Sync/bin/Debug/net8.0/Microsoft.Extensions.Logging.Abstractions.dll
MCP/Ollama-RAG-Sync/Ollama-RAG-Sync/bin/Debug/net8.0/Microsoft.Extensions.Logging.Configuration.dll
MCP/Ollama-RAG-Sync/Ollama-RAG-Sync/bin/Debug/net8.0/Microsoft.Extensions.Logging.Console.dll
MCP/Ollama-RAG-Sync/Ollama-RAG-Sync/bin/Debug/net8.0/Microsoft.Extensions.Logging.Debug.dll
MCP/Ollama-RAG-Sync/Ollama-RAG-Sync/bin/Debug/net8.0/Microsoft.Extensions.Logging.dll
MCP/Ollama-RAG-Sync/Ollama-RAG-Sync/bin/Debug/net8.0/Microsoft.Extensions.Logging.EventLog.dll
MCP/Ollama-RAG-Sync/Ollama-RAG-Sync/bin/Debug/net8.0/Microsoft.Extensions.Logging.EventSource.dll
MCP/Ollama-RAG-Sync/Ollama-RAG-Sync/bin/Debug/net8.0/Microsoft.Extensions.Options.ConfigurationExtensions.dll
MCP/Ollama-RAG-Sync/Ollama-RAG-Sync/bin/Debug/net8.0/Microsoft.Extensions.Options.dll
MCP/Ollama-RAG-Sync/Ollama-RAG-Sync/bin/Debug/net8.0/Microsoft.Extensions.Primitives.dll
MCP/Ollama-RAG-Sync/Ollama-RAG-Sync/bin/Debug/net8.0/ModelContextProtocol.dll
MCP/Ollama-RAG-Sync/Ollama-RAG-Sync/bin/Debug/net8.0/Ollama-RAG-Sync.deps.json
MCP/Ollama-RAG-Sync/Ollama-RAG-Sync/bin/Debug/net8.0/Ollama-RAG-Sync.dll
MCP/Ollama-RAG-Sync/Ollama-RAG-Sync/bin/Debug/net8.0/Ollama-RAG-Sync.exe
MCP/Ollama-RAG-Sync/Ollama-RAG-Sync/bin/Debug/net8.0/Ollama-RAG-Sync.pdb
MCP/Ollama-RAG-Sync/Ollama-RAG-Sync/bin/Debug/net8.0/Ollama-RAG-Sync.runtimeconfig.json
MCP/Ollama-RAG-Sync/Ollama-RAG-Sync/bin/Debug/net8.0/System.Diagnostics.DiagnosticSource.dll
MCP/Ollama-RAG-Sync/Ollama-RAG-Sync/bin/Debug/net8.0/System.Diagnostics.EventLog.dll
MCP/Ollama-RAG-Sync/Ollama-RAG-Sync/bin/Debug/net8.0/System.IO.Pipelines.dll
MCP/Ollama-RAG-Sync/Ollama-RAG-Sync/bin/Debug/net8.0/System.Net.ServerSentEvents.dll
MCP/Ollama-RAG-Sync/Ollama-RAG-Sync/bin/Debug/net8.0/System.Text.Encodings.Web.dll
MCP/Ollama-RAG-Sync/Ollama-RAG-Sync/bin/Debug/net8.0/System.Text.Json.dll
MCP/Ollama-RAG-Sync/Ollama-RAG-Sync/bin/Debug/net8.0/runtimes/browser/lib/net8.0/System.Text.Encodings.Web.dll
MCP/Ollama-RAG-Sync/Ollama-RAG-Sync/bin/Debug/net8.0/runtimes/win/lib/net8.0/System.Diagnostics.EventLog.dll
MCP/Ollama-RAG-Sync/Ollama-RAG-Sync/bin/Debug/net8.0/runtimes/win/lib/net8.0/System.Diagnostics.EventLog.Messages.dll
MCP/Ollama-RAG-Sync/Ollama-RAG-Sync/bin/Debug/net9.0/Microsoft.Extensions.AI.Abstractions.dll
MCP/Ollama-RAG-Sync/Ollama-RAG-Sync/bin/Debug/net9.0/Microsoft.Extensions.AI.dll
MCP/Ollama-RAG-Sync/Ollama-RAG-Sync/bin/Debug/net9.0/Microsoft.Extensions.Caching.Abstractions.dll
MCP/Ollama-RAG-Sync/Ollama-RAG-Sync/bin/Debug/net9.0/Microsoft.Extensions.Configuration.Abstractions.dll
MCP/Ollama-RAG-Sync/Ollama-RAG-Sync/bin/Debug/net9.0/Microsoft.Extensions.Configuration.Binder.dll
MCP/Ollama-RAG-Sync/Ollama-RAG-Sync/bin/Debug/net9.0/Microsoft.Extensions.Configuration.CommandLine.dll
MCP/Ollama-RAG-Sync/Ollama-RAG-Sync/bin/Debug/net9.0/Microsoft.Extensions.Configuration.dll
MCP/Ollama-RAG-Sync/Ollama-RAG-Sync/bin/Debug/net9.0/Microsoft.Extensions.Configuration.EnvironmentVariables.dll
MCP/Ollama-RAG-Sync/Ollama-RAG-Sync/bin/Debug/net9.0/Microsoft.Extensions.Configuration.FileExtensions.dll
MCP/Ollama-RAG-Sync/Ollama-RAG-Sync/bin/Debug/net9.0/Microsoft.Extensions.Configuration.Json.dll
MCP/Ollama-RAG-Sync/Ollama-RAG-Sync/bin/Debug/net9.0/Microsoft.Extensions.Configuration.UserSecrets.dll
MCP/Ollama-RAG-Sync/Ollama-RAG-Sync/bin/Debug/net9.0/Microsoft.Extensions.DependencyInjection.Abstractions.dll
MCP/Ollama-RAG-Sync/Ollama-RAG-Sync/bin/Debug/net9.0/Microsoft.Extensions.DependencyInjection.dll
MCP/Ollama-RAG-Sync/Ollama-RAG-Sync/bin/Debug/net9.0/Microsoft.Extensions.Diagnostics.Abstractions.dll
MCP/Ollama-RAG-Sync/Ollama-RAG-Sync/bin/Debug/net9.0/Microsoft.Extensions.Diagnostics.dll
MCP/Ollama-RAG-Sync/Ollama-RAG-Sync/bin/Debug/net9.0/Microsoft.Extensions.FileProviders.Abstractions.dll
MCP/Ollama-RAG-Sync/Ollama-RAG-Sync/bin/Debug/net9.0/Microsoft.Extensions.FileProviders.Physical.dll
MCP/Ollama-RAG-Sync/Ollama-RAG-Sync/bin/Debug/net9.0/Microsoft.Extensions.FileSystemGlobbing.dll
MCP/Ollama-RAG-Sync/Ollama-RAG-Sync/bin/Debug/net9.0/Microsoft.Extensions.Hosting.Abstractions.dll
MCP/Ollama-RAG-Sync/Ollama-RAG-Sync/bin/Debug/net9.0/Microsoft.Extensions.Hosting.dll
MCP/Ollama-RAG-Sync/Ollama-RAG-Sync/bin/Debug/net9.0/Microsoft.Extensions.Logging.Abstractions.dll
MCP/Ollama-RAG-Sync/Ollama-RAG-Sync/bin/Debug/net9.0/Microsoft.Extensions.Logging.Configuration.dll
MCP/Ollama-RAG-Sync/Ollama-RAG-Sync/bin/Debug/net9.0/Microsoft.Extensions.Logging.Console.dll
MCP/Ollama-RAG-Sync/Ollama-RAG-Sync/bin/Debug/net9.0/Microsoft.Extensions.Logging.Debug.dll
MCP/Ollama-RAG-Sync/Ollama-RAG-Sync/bin/Debug/net9.0/Microsoft.Extensions.Logging.dll
MCP/Ollama-RAG-Sync/Ollama-RAG-Sync/bin/Debug/net9.0/Microsoft.Extensions.Logging.EventLog.dll
MCP/Ollama-RAG-Sync/Ollama-RAG-Sync/bin/Debug/net9.0/Microsoft.Extensions.Logging.EventSource.dll
MCP/Ollama-RAG-Sync/Ollama-RAG-Sync/bin/Debug/net9.0/Microsoft.Extensions.Options.ConfigurationExtensions.dll
MCP/Ollama-RAG-Sync/Ollama-RAG-Sync/bin/Debug/net9.0/Microsoft.Extensions.Options.dll
MCP/Ollama-RAG-Sync/Ollama-RAG-Sync/bin/Debug/net9.0/Microsoft.Extensions.Primitives.dll
MCP/Ollama-RAG-Sync/Ollama-RAG-Sync/bin/Debug/net9.0/ModelContextProtocol.dll
MCP/Ollama-RAG-Sync/Ollama-RAG-Sync/bin/Debug/net9.0/Ollama-RAG-Sync.deps.json
MCP/Ollama-RAG-Sync/Ollama-RAG-Sync/bin/Debug/net9.0/Ollama-RAG-Sync.dll
MCP/Ollama-RAG-Sync/Ollama-RAG-Sync/bin/Debug/net9.0/Ollama-RAG-Sync.exe
MCP/Ollama-RAG-Sync/Ollama-RAG-Sync/bin/Debug/net9.0/Ollama-RAG-Sync.pdb
MCP/Ollama-RAG-Sync/Ollama-RAG-Sync/bin/Debug/net9.0/Ollama-RAG-Sync.runtimeconfig.json
MCP/Ollama-RAG-Sync/Ollama-RAG-Sync/bin/Debug/net9.0/System.Diagnostics.DiagnosticSource.dll
MCP/Ollama-RAG-Sync/Ollama-RAG-Sync/bin/Debug/net9.0/System.Diagnostics.EventLog.dll
MCP/Ollama-RAG-Sync/Ollama-RAG-Sync/bin/Debug/net9.0/System.Net.ServerSentEvents.dll
MCP/Ollama-RAG-Sync/Ollama-RAG-Sync/bin/Debug/net9.0/System.Text.Json.dll
MCP/Ollama-RAG-Sync/Ollama-RAG-Sync/bin/Debug/net9.0/System.Threading.Channels.dll
MCP/Ollama-RAG-Sync/Ollama-RAG-Sync/bin/Debug/net9.0/runtimes/win/lib/net9.0/System.Diagnostics.EventLog.dll
MCP/Ollama-RAG-Sync/Ollama-RAG-Sync/bin/Debug/net9.0/runtimes/win/lib/net9.0/System.Diagnostics.EventLog.Messages.dll
MCP/.vs/ORSMcp/CopilotIndices/17.13.441.19478/CodeChunks.db
MCP/.vs/ORSMcp/CopilotIndices/17.13.441.19478/SemanticSymbols.db
MCP/.vs/ORSMcp/DesignTimeBuild/.dtbcache.v2
MCP/.vs/ORSMcp/FileContentIndex/f3061d1d-eb5d-4456-8278-e4abdeed5f9e.vsidx
MCP/.vs/ORSMcp/copilot-chat/fdd95f60/sessions/26f62ca6-366f-40b2-9df2-a01259b9d8b6
MCP/.vs/ORSMcp/v17/.futdcache.v2
MCP/.vs/ORSMcp/v17/.suo
MCP/.vs/ORSMcp/v17/DocumentLayout.backup.json
MCP/.vs/ORSMcp/v17/DocumentLayout.json
MCP/.vs/Ollama-RAG-Sync/CopilotIndices/17.13.441.19478/CodeChunks.db
MCP/.vs/Ollama-RAG-Sync/CopilotIndices/17.13.441.19478/CodeChunks.db-shm
MCP/.vs/Ollama-RAG-Sync/CopilotIndices/17.13.441.19478/CodeChunks.db-wal
MCP/.vs/Ollama-RAG-Sync/CopilotIndices/17.13.441.19478/SemanticSymbols.db
MCP/.vs/Ollama-RAG-Sync/CopilotIndices/17.13.441.19478/SemanticSymbols.db-shm
MCP/.vs/Ollama-RAG-Sync/CopilotIndices/17.13.441.19478/SemanticSymbols.db-wal
MCP/.vs/Ollama-RAG-Sync/DesignTimeBuild/.dtbcache.v2
MCP/.vs/Ollama-RAG-Sync/FileContentIndex/1c71a116-59c2-477f-8c71-86e5294eb91e.vsidx
MCP/.vs/Ollama-RAG-Sync/FileContentIndex/41a155c1-16ce-4c17-90fb-99393ce01a48.vsidx
MCP/.vs/Ollama-RAG-Sync/v17/.futdcache.v2
MCP/.vs/Ollama-RAG-Sync/v17/.suo
MCP/.vs/Ollama-RAG-Sync/v17/DocumentLayout.backup.json
MCP/.vs/Ollama-RAG-Sync/v17/DocumentLayout.json
MCP/.vs/ProjectEvaluation/ollama-rag-sync.metadata.v9.bin
MCP/.vs/ProjectEvaluation/ollama-rag-sync.projects.v9.bin
MCP/.vs/ProjectEvaluation/ollama-rag-sync.strings.v9.bin
MCP/.vs/ProjectEvaluation/orsmcp.metadata.v9.bin
MCP/.vs/ProjectEvaluation/orsmcp.projects.v9.bin
MCP/.vs/ProjectEvaluation/orsmcp.strings.v9.bin
MCP/bin/Debug/net8.0/Microsoft.Extensions.AI.Abstractions.dll
MCP/bin/Debug/net8.0/Microsoft.Extensions.AI.dll
MCP/bin/Debug/net8.0/Microsoft.Extensions.Caching.Abstractions.dll
MCP/bin/Debug/net8.0/Microsoft.Extensions.Configuration.Abstractions.dll
MCP/bin/Debug/net8.0/Microsoft.Extensions.Configuration.Binder.dll
MCP/bin/Debug/net8.0/Microsoft.Extensions.Configuration.CommandLine.dll
MCP/bin/Debug/net8.0/Microsoft.Extensions.Configuration.dll
MCP/bin/Debug/net8.0/Microsoft.Extensions.Configuration.EnvironmentVariables.dll
MCP/bin/Debug/net8.0/Microsoft.Extensions.Configuration.FileExtensions.dll
MCP/bin/Debug/net8.0/Microsoft.Extensions.Configuration.Json.dll
MCP/bin/Debug/net8.0/Microsoft.Extensions.Configuration.UserSecrets.dll
MCP/bin/Debug/net8.0/Microsoft.Extensions.DependencyInjection.Abstractions.dll
MCP/bin/Debug/net8.0/Microsoft.Extensions.DependencyInjection.dll
MCP/bin/Debug/net8.0/Microsoft.Extensions.Diagnostics.Abstractions.dll
MCP/bin/Debug/net8.0/Microsoft.Extensions.Diagnostics.dll
MCP/bin/Debug/net8.0/Microsoft.Extensions.FileProviders.Abstractions.dll
MCP/bin/Debug/net8.0/Microsoft.Extensions.FileProviders.Physical.dll
MCP/bin/Debug/net8.0/Microsoft.Extensions.FileSystemGlobbing.dll
MCP/bin/Debug/net8.0/Microsoft.Extensions.Hosting.Abstractions.dll
MCP/bin/Debug/net8.0/Microsoft.Extensions.Hosting.dll
MCP/bin/Debug/net8.0/Microsoft.Extensions.Logging.Abstractions.dll
MCP/bin/Debug/net8.0/Microsoft.Extensions.Logging.Configuration.dll
MCP/bin/Debug/net8.0/Microsoft.Extensions.Logging.Console.dll
MCP/bin/Debug/net8.0/Microsoft.Extensions.Logging.Debug.dll
MCP/bin/Debug/net8.0/Microsoft.Extensions.Logging.dll
MCP/bin/Debug/net8.0/Microsoft.Extensions.Logging.EventLog.dll
MCP/bin/Debug/net8.0/Microsoft.Extensions.Logging.EventSource.dll
MCP/bin/Debug/net8.0/Microsoft.Extensions.Options.ConfigurationExtensions.dll
MCP/bin/Debug/net8.0/Microsoft.Extensions.Options.dll
MCP/bin/Debug/net8.0/Microsoft.Extensions.Primitives.dll
MCP/bin/Debug/net8.0/ModelContextProtocol.dll
MCP/bin/Debug/net8.0/Ollama-RAG-Sync.deps.json
MCP/bin/Debug/net8.0/Ollama-RAG-Sync.dll
MCP/bin/Debug/net8.0/Ollama-RAG-Sync.exe
MCP/bin/Debug/net8.0/Ollama-RAG-Sync.pdb
MCP/bin/Debug/net8.0/Ollama-RAG-Sync.runtimeconfig.json
MCP/bin/Debug/net8.0/System.Diagnostics.DiagnosticSource.dll
MCP/bin/Debug/net8.0/System.Diagnostics.EventLog.dll
MCP/bin/Debug/net8.0/System.IO.Pipelines.dll
MCP/bin/Debug/net8.0/System.Net.ServerSentEvents.dll
MCP/bin/Debug/net8.0/System.Text.Encodings.Web.dll
MCP/bin/Debug/net8.0/System.Text.Json.dll
MCP/bin/Debug/net8.0/runtimes/browser/lib/net8.0/System.Text.Encodings.Web.dll
MCP/bin/Debug/net8.0/runtimes/win/lib/net8.0/System.Diagnostics.EventLog.dll
MCP/bin/Debug/net8.0/runtimes/win/lib/net8.0/System.Diagnostics.EventLog.Messages.dll
MCP/obj/Ollama-RAG-Sync.csproj.nuget.dgspec.json
MCP/obj/Ollama-RAG-Sync.csproj.nuget.g.props
MCP/obj/Ollama-RAG-Sync.csproj.nuget.g.targets
MCP/obj/project.assets.json
MCP/obj/project.nuget.cache
MCP/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
MCP/obj/Debug/net8.0/apphost.exe
MCP/obj/Debug/net8.0/Ollama-R.DA87FDD5.Up2Date
MCP/obj/Debug/net8.0/Ollama-RAG-Sync.AssemblyInfo.cs
MCP/obj/Debug/net8.0/Ollama-RAG-Sync.AssemblyInfoInputs.cache
MCP/obj/Debug/net8.0/Ollama-RAG-Sync.assets.cache
MCP/obj/Debug/net8.0/Ollama-RAG-Sync.csproj.AssemblyReference.cache
MCP/obj/Debug/net8.0/Ollama-RAG-Sync.csproj.CoreCompileInputs.cache
MCP/obj/Debug/net8.0/Ollama-RAG-Sync.csproj.FileListAbsolute.txt
MCP/obj/Debug/net8.0/Ollama-RAG-Sync.dll
MCP/obj/Debug/net8.0/Ollama-RAG-Sync.GeneratedMSBuildEditorConfig.editorconfig
MCP/obj/Debug/net8.0/Ollama-RAG-Sync.genruntimeconfig.cache
MCP/obj/Debug/net8.0/Ollama-RAG-Sync.GlobalUsings.g.cs
MCP/obj/Debug/net8.0/Ollama-RAG-Sync.pdb
MCP/obj/Debug/net8.0/Ollama-RAG-Sync.sourcelink.json
MCP/obj/Debug/net8.0/ref/Ollama-RAG-Sync.dll
MCP/obj/Debug/net8.0/refint/Ollama-RAG-Sync.dll
MCP/.vs/Ollama-RAG-Sync/FileContentIndex/b82f93ff-72ac-4527-a73c-f7e1f025e9d6.vsidx
MCP/.vs/Ollama-RAG-Sync/FileContentIndex/89598d8f-afbb-4dc6-b752-40328f957401.vsidx
MCP/.vs/Ollama-RAG-Sync/FileContentIndex/cfdb77e1-fd3e-45e8-a68e-ed81fe3b30ff.vsidx
